@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'League Spartan', sans-serif;
    background-color: #111;
}

.fancy {
    font-family: 'Leckerli One', cursive;
}

.palm-tree {
    position: absolute;
    right: 0;
    font-size: 350px;
}

.teardrop {
    right: 120px;
    top: 0%;
    position: absolute;
    font-size: 60px;
    color: #16a34a;
    cursor: pointer;
    transition: 1s;
}

.teardrop-plant {
    right: 120px;
    top: 700px;
    position: absolute;
    font-size: 60px;
    color: #16a34a;
    cursor: pointer;
    transition: 1s;
    transition-delay: 1s;
}
